body {

    background-color: #DEDBE0;
    margin: 0;
    padding: 0;

}

#menu {
    width: 100%;
    /*largura do menu todo*/
    height: 73px;
    /*tem que ser desse tamanho para não deixar um espaço em branco abaixo do menu*/
    line-height: 50px;
    /* centraliza na vertical */
    background-color: #f1f1f1;
    /*border: 1px dashed #ccc;*/
    margin: 0 auto;
    font-family: Arial, Helvetica, URW Bookman L, serif;
    font-size: 25px;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #C9C3CB;
    list-style: none;
    text-align: center;
}

#menu ul li {
    margin-left: 35px;
    /*distancia entre os botões*/
    margin-right: 35px;
    display: inline;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    /* visual do link */
    background-color: #C9C3CB;
    color: #564E5A;
    text-decoration: none;
    border-bottom: 3px solid #C9C3CB;
    border-radius: 6px;
    padding: 10px 70px;
    /*distancia entre os botões *Não mexer* */
}

#menu ul li a:hover {
    background-color: #D6D6D6;
    color: #6D6D6D;
    border-bottom: 3px solid#867B8C;
}

.Pagina {

    background: #DEDBE0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}

.Login {
    width: 50%;
    max-width: 450px;
    background-color: #FFFFFFBB;
    padding: 60px;
    border-radius: 28px;
    box-shadow: 0 20px 20px 0px rgba(138, 138, 138, 0.671)
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.campo {

    padding: 10px;
    border-radius: 10px;
    border: 3px solid rgba(110, 110, 110, 0.87);
    transition: all linear 190ms;
    font-size: 0.9em;

}

.campo::placeholder {
    color: #666;

}

.campo:focus {
    border-color: rgb(0, 0, 0);
}

.botao {
    padding: 10px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #666;
    margin-top: 15px;
    cursor: pointer;
    transition: all linear 190ms;
}

.botao:hover {
    transform: scale(1.05);
    background-color: rgb(134, 134, 134);
}

p {
    font-size: 0, 9rem;
}

form a {
    margin: 3px;
    font-size: 0.8em;
    color: #666;

}

h2 {

    font-size: 1, 8em;
    font-weight: 600;
    text-align: center;
    color: #2c2c2c
}

h3 {
    text-align: center;
    font-size: 30px;
    color: red;
    padding: 5px;
    border-radius: 20px;
    border-color: red;
    border:solid;
    
}
.sobre{
    background-color: #808080;
    border-radius: 5px;
    color:#dfd9d9;
    padding: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 50px;
  }
.sobre p{
    text-align: center;
    width: 75%;  
    font-family: Arial, Helvetica, URW Bookman L, serif;

  }
strong{
    font-size: medium;
    color: #564E5A;
  }
  .sobre {
    background-color: black;
    border-radius: 5px;
    color: #dfd9d9;
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
  }
  
  .sobre p {
    text-align: center;
    width: 75%;
    font-family: Arial, Helvetica, URW Bookman L, serif;
  }