body {

    background-color: #DEDBE0;
    margin: 0;
    padding: 0;

}

.aa {
    padding: 0;
}

#menu {
    width: 100%;
    /*largura do menu todo*/
    height: 73px;
    /*tem que ser desse tamanho para não deixar um espaço em branco abaixo do menu*/
    line-height: 50px;
    /* centraliza na vertical */
    background-color: #f1f1f1;
    /*border: 1px dashed #ccc;*/
    margin: 0 auto;
    font-family: Arial, Helvetica, URW Bookman L, serif;
    padding: 0;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #C9C3CB;
    list-style: none;
    text-align: center;
}

#menu ul li {
    margin-left: 35px;
    /*distancia entre os botões*/
    margin-right: 35px;
    display: inline;
}

#menu ul li a {
    /* padding: 2px 10px; */
    display: inline-block;
    /* visual do link */
    background-color: #C9C3CB;
    color: #564E5A;
    text-decoration: none;
    border-bottom: 3px solid #C9C3CB;
    border-radius: 6px;
    padding: 10px 70px;
    /*distancia entre os botões *Não mexer* */
}

#menu ul li a:hover {
    background-color: #D6D6D6;
    color: #6D6D6D;
    border-bottom: 3px solid#867B8C;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.profile-content {
    padding: 20px;
    min-height: 460px;
    width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.menu {
    float: left;
    margin-right: 30px;
}

main {
    margin-left: 300px;
    margin-top: 20px;
    margin-right: 20px;
    width: 70%;
}

.info {
    font-size: 15px;
    font-weight: bold;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}

table,
th {
    padding: 10px;
    
}

table,
th,
td {
    padding: 10px;
    
}

table td,
table th {
    border-bottom: 1px solid white;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

/* CADASTRO */
.cadastrar {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3E497A;
    display: flexbox;
    text-align: left;
    line-height: 2;
    box-sizing: border-box;
    border: 2px solid #3E497A;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 50px;
    align-items: center;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.cad-um {
    font-size: 30px;
    line-height: 2.5;
    font-weight: bold;
    text-align: center;
}

.caixas {
    text-align: left;

}

.caixa {
    margin: 10px 5px;
}

.caixa input,
#estado {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 3px;
    border: 1px solid #3E497A;
    color: #3E497A;
    border-radius: 10px;
}

.caixa input,
#area {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 3px;
    border: 1px solid #3E497A;
    color: #3E497A;
    border-radius: 10px;
}

.cad-button {
    align-items: center;
    font-size: 18px;
    background-color: #3E497A;
    margin: 20px;
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
}

#resumo {
    height: 10rem;
    width: 50rem;
    border: 1px solid #3E497A;
    border-radius: 10px;
}

#info {
    font-weight: bold;
}

.caixa-img {
    margin: 10px 5px;
}

textarea {
    width: 80% !important;
}

main {
    display: inline;
}

.botao {
    padding: 10px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #666;
    margin-top: 15px;
    cursor: pointer;
    transition: all linear 190ms;
}

.botao:hover {
    transform: scale(1.05);
    background-color: rgb(134, 134, 134);
}