
*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color:#DEDBE0;
    color:#000000;
  
}

a{
    color: #564E5A; /* Coloca os textos de títulos com a cor roxa escuro*/
    font-family: Arial, Helvetica, URW Bookman L, serif; /*TM*/
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:16px;
    font-weight: bolder;
}
#menu{
  width: 100%; /*largura do menu todo*/
  height: 73px;/*tem que ser desse tamanho para não deixar um espaço em branco abaixo do menu*/
  line-height: 50px; /* centraliza na vertical */
  background-color: #f1f1f1;
  /*border: 1px dashed #ccc;*/
  margin: 0 auto;
  font-family: Arial, Helvetica, URW Bookman L, serif;


}
#menu ul { 
  padding:0px;
  margin:0px;
  background-color:#C9C3CB;
  list-style:none;
  text-align: center;
}
#menu ul li { 
  margin-left: 35px; /*distancia entre os botões*/
  margin-right: 35px;
  display: inline; }

#menu ul li a { 
    padding: 2px 10px; 
    display: inline-block; /* visual do link */ 
    background-color:#C9C3CB; 
    color: #564E5A; 
    text-decoration: none; 
    border-bottom:3px solid #C9C3CB; 
    border-radius: 6px;
    padding: 10px 70px; /*distancia entre os botões *Não mexer */
}
#menu ul li a:hover { 
  background-color:#D6D6D6;
  color: #6D6D6D;
  border-bottom:3px solid#867B8C;

}

/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#867B8C; /*Muda a cor do fundo do subtitulo TM*/
    padding: 5px;
    border-radius: 5px;
    margin:4px;
    text-align: center;
    color:#ece7ee; /*Muda a cor da letra TM*/
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;

}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#ffffff;
    font-family:aquire;
    
}
.subforum-column a{
    color:#564E5A;/*Muda a cor do link chamado "Ultima postagem"*/
    font-family:aquire;
    font-size: medium;
}
.subforum-description *{
    margin-block: 0;
    

}
.subforum-description  a{
    color:#564E5A;
    font-family:aquire;
}
.subforum-description  a:hover{
    color:#867B8C;/*Muda a cor do link quando segura TM*/
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
    color:#564E5A;
}

.subforum-devider{
    display: none;   
}


/* SMARTPHONE */
.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#867B8C; /*Muda a cor do fundo do subtitulo TM*/
    padding: 5px;
    border-radius: 5px;
    margin:4px;
    text-align: center;
    color:#ece7ee; /*Muda a cor da letra TM*/
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;

}

.subforum-column{
    padding-top: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#ffffff;
    font-family:aquire;
    
}
.subforum-column a{
    color:#564E5A;/*Muda a cor do link chamado "Ultima postagem"*/
    font-family:aquire;
    font-size: medium;
}
.subforum-description *{
    margin-block: 0;
    

}
.subforum-description  a{
    color:#564E5A;
    font-family:aquire;
}
.subforum-description  a:hover{
    color:#867B8C;/*Muda a cor do link quando segura TM*/
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
    color:#564E5A;
}

.subforum-devider{
    display: none;   
}

header{
    margin-inline: 10px;
}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color:#C9C3CB;; /*Cor dos status do forum TM*/
    border-radius: 5px;  /*Arredonda a borda TM*/
    box-shadow: 2px 2px 2px #867B8C ; /*XColoca uma sombra degrade no fundo TM*/

}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color: #C9C3CB; /*cor do rodapé TM*/
    display: block;
    text-align: center;
    border-radius: 5px; /*Arredonda a borda TM*/
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px #867B8C ; /*XColoca uma sombra degrade no fundo TM*/
}

/* ########################################### */
/*           POSTS                 */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #ffffff;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts body */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #ffffff;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* caminho navegação*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #030000;
}

.navigate a:hover{
    color:#101010;
    font-weight: bolder;
}

/* Paginação*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #050000;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #000000;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#ffffff;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}


/* ########################################### */
/*            detalhes              */
/* ########################################### */

.head{
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}
/* Adicione o estilo para o botão "Novo Tópico" */
#new-topic-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #564E5A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#new-topic-btn:hover {
    background-color: #867B8C;
}

.reply-button {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto branco */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
}






